@charset "UTF-8";
@import './reset.css';
@import './burger.css';
@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500,700);
* {
  box-sizing: content-box;
}

::after,
::before {
  box-sizing: content-box;
}

body {
  font-family: "Raleway";
  font-weight: 400;
}

a {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  position: relative;
  top: -3px;
  content: url("../images/svg-icons/—.svg");
}

.breadcrumb-item.active {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #919191;
}

[class*=container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.add-to-cart {
  color: black;
}

.header__container {
  height: 130px;
  width: 100%;
  margin-bottom: 139px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contacts {
  margin-right: 67px;
}
.header__contacts-link {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 0;
}
.header__contacts-link path {
  fill: #6E9C9F;
}
.header__contacts-link svg {
  padding-left: 2px;
  padding-bottom: 2px;
}
.header__contacts-link:hover path {
  fill: #ffffff;
}
.header__contacts-link:hover svg {
  background-color: #6E9C9F;
}

.logo__link {
  display: flex;
  align-items: center;
  gap: 11px;
}
.logo__icon {
  width: 24px;
  height: 24px;
}
.logo__title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.logo-header {
  margin-right: 146px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header-nav-list {
  margin-right: 149px;
}

.nav-item {
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
}

.nav-item.active a {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #6E9C9F;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 9px;
}

.contacts__icon {
  width: 27px;
  height: 27px;
}

.contacts a {
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
}

.cart__icon {
  width: 24px;
  height: 24px;
}

.page__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 26px;
}
.page__bread-crumbs {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 214px;
}

.filter__list {
  display: flex;
  gap: 10px;
}
.filter__item {
  cursor: pointer;
  box-sizing: border-box;
  padding: 19px 65px;
  border: 1px solid #000000;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.filter--active {
  background-color: #000000;
  color: #ffffff;
}

.cards {
  margin-top: 92px;
}
.cards__caption {
  padding-top: 65px;
  margin-bottom: 65px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #808080;
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
}
.cards__item {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0 !important;
  cursor: pointer;
}
.cards__item-img {
  position: relative;
}
.cards__item-img .image {
  width: 100%;
  height: 100%;
}
.cards__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 7px;
}

.cards__item-img {
  position: relative;
}

.cards__item-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}

.cards__item-img::after {
  content: url("../images/svg-icons/VectorWhite.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 999;
  transition: all 0.2s ease;
}

.cards__item-img:hover::before {
  background: rgba(110, 156, 159, 0.77);
}

.cards__item-img:hover::after {
  opacity: 1;
}

.pagination {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
  width: 41px;
  height: 41px;
  border: 1px solid #000000;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  color: #ffffff;
  background-color: #000000;
}

#pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.next-page {
  cursor: pointer;
  width: 40px;
  height: 10px;
}

.pagination-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 130px;
  background: #F1EADC;
}
.footer__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.footer__nav {
  margin-right: 267px;
  margin-left: 146px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom .left {
  display: flex;
  align-items: center;
  gap: 188px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-logo-link {
  display: flex;
  align-items: center;
  gap: 11px;
}

.copyrights {
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
}

.categories__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.categories__link {
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.social__list {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.social__icon {
  width: 22px;
  height: 22px;
}

.hamburger {
  display: none;
  margin: 15px;
  z-index: 2;
}

.modal-nav {
  position: fixed;
  background-color: #6E9C9F;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-101%);
  font-size: 30px;
}

.modal-nav-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.cards {
  overflow: hidden;
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
}

@media screen and (max-width: 989px) {
  .header-nav-list {
    margin-right: 90px;
  }
  .logo-header {
    margin-right: 50px;
  }
  .filter__item {
    padding: 10px 35px;
  }
  .cart {
    flex-grow: 1;
    text-align: end;
  }
  .footer__nav {
    margin: 0;
  }
  .footer__head {
    justify-content: space-between;
  }
  .page__bread-crumbs {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .header #navigation,
.header__contacts {
    display: none;
  }
  .hamburger {
    display: unset;
  }
  .cart {
    flex-grow: 1;
    text-align: end;
  }
  .footer__nav {
    margin: 0;
  }
  .nav-list {
    gap: 15px;
  }
  .footer__head {
    justify-content: space-between;
  }
  .filter__item {
    padding: 8px 25px;
  }
  .filter__list {
    gap: 5px;
  }
  .cards {
    margin-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .header #navigation,
.header__contacts {
    display: none;
  }
  .hamburger {
    display: unset;
  }
  .cart {
    flex-grow: 1;
    text-align: end;
  }
  .footer__nav {
    margin: 0;
  }
  .footer__head {
    justify-content: space-between;
  }
  .filter__item {
    padding: 5px 8px;
    font-size: 12px;
  }
  .page__bread-crumbs {
    margin-bottom: 30px;
  }
  .cards {
    margin-top: 20px;
  }
  .footer {
    margin-top: 20px;
    padding-top: 20px;
  }
  .footer__nav {
    display: none;
  }
  .footer__bottom .left {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .footer__bottom {
    flex-direction: column-reverse;
  }
  .footer__bottom .categories {
    display: none;
  }
  .categories__list {
    margin: 10px 0;
    flex-direction: row;
  }
  .filter__list {
    gap: 5px;
  }
}
.hide {
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
}

[data-active] {
  background-color: #000000;
  color: #ffffff;
}

.card-size-option {
  display: flex;
  gap: 14px;
}

.card-size-item {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 59px;
  text-transform: uppercase;
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
}

.card-color-title {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 34px;
}

.card-color-option {
  display: flex;
  gap: 14px;
}

.card-color-item {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  margin-bottom: 59px;
}

.one-card-content {
  display: flex;
  gap: 74px;
}

.card-img,
.card-descr {
  flex: 0 1 50%;
}

.card-descr {
  margin: 117px 150px 117px 0;
}

.card-img img {
  width: 100%;
}

.card-price {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #998E78;
  margin-bottom: 59px;
}

.card-size-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 34px;
}

.goods {
  display: flex;
  gap: 11px;
  align-items: center;
}

.picked-goods {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFAFAF;
  width: 68px;
  height: 68px;
  box-sizing: border-box;
}

.add-to-cart {
  font-family: "Raleway";
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 22px 50px;
  background: #6E9C9F;
  box-sizing: border-box;
}

.similar-goods {
  display: flex;
  gap: 30px;
}

.similar-goods-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 67px;
}/*# sourceMappingURL=shop.css.map */